<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="drumgame.example.drum_game">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ScorelistActivity"
            android:theme="@style/AppTheme.NoBar"/>
        <activity
            android:name=".PlaygroundActivity8"
            android:theme="@style/AppTheme.NoBar" />
        <activity
            android:name=".PlaygroundActivity7"
            android:theme="@style/AppTheme.NoBar" />
        <activity
            android:name=".PlaygroundActivity6"
            android:theme="@style/AppTheme.NoBar" />
        <activity
            android:name=".PlaygroundActivity5"
            android:theme="@style/AppTheme.NoBar" />
        <activity
            android:name=".PlaygroundActivity4"
            android:theme="@style/AppTheme.NoBar" />
        <activity
            android:name=".PlaygroundActivity3"
            android:theme="@style/AppTheme.NoBar" />
        <activity
            android:name=".PlaygroundActivity2"
            android:theme="@style/AppTheme.NoBar" />
        <activity
            android:name=".PlaygroundActivity1"
            android:theme="@style/AppTheme.NoBar" />
        <activity
            android:name=".ScoreActivity"
            android:theme="@style/AppTheme.NoBar" />
        <activity android:name=".Menu" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>